:root {
  --background-color: #E4DFDA;
  --header-color: #059dc0;
  --welcome-bg: #e9c46a;
  --font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: var(--font-family);
}

#root {
  width: 100vw;
  height: 100vh;
  background: var(--background-color); 
}
